<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - GhadirOnlineShop</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="~/Content/kendoUi/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUi/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/kendoUi/kendo.blueopal.min.css" rel="stylesheet" />

    <script src="~/Scripts/kendoUi/jquery.min.js"></script>
    <script src="~/Scripts/kendoUi/kendo.all.min.js"></script>

</head>
<body style="padding-top:0px !important">

    <div class="container mb-20" dir="rtl">
        <nav>
            <div class="container-fluid">
                <ul class="nav navbar-nav col-sm-12 col-md-12 li-custom3">
                    <li class="active-c"><a href="~/Account/Index">ورود</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container" dir="rtl">

        <div class="masthead">
            <nav>
                <ul class="nav nav-justified" style="padding-right: 0px;">
                    <li class="active col-sm-6 col-md-4 li-custom1"><a href="/">خانه</a></li>
                    <li class="col-sm-6 col-md-4 li-custom2">
                        <a href="/ShopCart">
                            <i class="glyphicon glyphicon-shopping-cart"> سبد خرید : <span id="shopcart">0</span> کالا</i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

    </div> <!-- /container -->

    <div class="container body-content renderBodyCustom" dir="rtl">
        @RenderBody()
    </div>

    <footer class="clearfix text-center">
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        function AddToCart(id) {
            $.ajax({
                url: "/ShopCart/AddToCart/" + id,
                type: "Get"
            }).done(function (result) {
                $("#shopcart").html(result);
            });
        }

        $(function () {
            $("#shopcart").load("/ShopCart/ShopCartCount");
        });
    </script>
</body>
</html>
